@charset "utf-8";
/* CSS Document */

#contactbody{
   margin:auto;
   width:600px;
   height:500px;
   background-image:url(images/contactbg.png);
   background-repeat:no-repeat;
}

#contcattitle{
   width:570px;
   float:left;
   text-align:right;
   font: 15px "微軟正黑體", Arial, Helvetica, sans-serif;
   color:#666666;
   margin:70px 0px 0px 0px;
}

#contcattitle2{
   width:570px;
   float:left;
   text-align:right;
   font: 26px "微軟正黑體", Arial, Helvetica, sans-serif;
   color:#DC7110;
}

#formtitle{
   width:170px;
   height:30px;
   float:left;
   text-align:right;
   font: 17px "微軟正黑體", Arial, Helvetica, sans-serif;
   line-height:26px;
   color:#666666;
   margin:4px 0px 0px 0px;   
}

#formtext{
   width:430px;
   height:30px;
   float:left;
   text-align:left;
   margin:4px 0px 0px 0px;   
   font: 17px "微軟正黑體", Arial, Helvetica, sans-serif;
   color:#DC7110;
}

#checkbutton{
   width:570px;
   height:63px;
   text-align:right;
   margin:16px 0px 0px 0px;

}