<% if @totals >@perpage %>
	<p class="pageContainer"> < 第 <%= @current_page_no +1 %> 頁 >
	前往 
	<% for page_no in 0..( (@totals-1) /@perpage) do 
		offset = page_no * @perpage
	%>
		<span class="pageBox"><%= if @current_page_no == page_no then content_tag( :span,  page_no +1 ) else link_to( page_no+1, :action => 'index', :start => offset ) end %></span>
		
	<% end %>
	頁
	</p>
<% end %>