<ul>
<% @partial_banners.each do |banner| %>
  <li>
  <%= link_to banner.link do  %>
  <div id="menubanner"><img src="<%= root_url + "/banners/" + banner.id.to_s + ".jpg" %>" width="260" height="90"></div>  
  <% end %>
  </li>
<% end %>
</ul>

<div id="businessArea">	
	<div id="menuimage"><img src="<%= image_path("businessicon.png") %>" onClick="openmenu()" width="274" height="89" id="btn1" style="cursor:pointer"></div>
	<div id="businessbox" style="display:none">
	 <div id="businesstitle" onClick="closemenu()">
	   <br>
	   <br>
	  誼光保全事業群連結</div>
	 <div id="businesslist">
	 	<a href="http://www.yks.com.tw" target="_blank">誼光保全</a><br>
	   <a href="http://www.yks.com.tw/front/bin/cglist.phtml?Category=337645" target="_blank">新保事業群</a><br>
	   <a href="http://www.sks.com.tw/index.php?option=com_content&view=category&layout=blog&id=3&Itemid=83" target="_blank">新保文化基金會</a><br>
	   <a href="http://www.sks.com.tw/" target="_blank">台灣新光保全</a><br>
	   <a href="http://tw.myblog.yahoo.com/anhsin-classroom/profile" target="_blank">新光保全-安心教室推廣活動Blog</a><br>
	   </div>
	 <div id="businessend"></div>
	</div><!--businessbox end-->
</div>


<script type="text/javascript">

function openmenu()
{
		$("#businessbox").fadeIn(500,function(){
		document.getElementById("businessbox").style.display="block";								  
		});								
				}
		
function closemenu()
{	
		$("#businessbox").fadeOut(500,function(){
		document.getElementById("businessbox").style.display="none";								  
		});								

}
		

</script>