<div id="rightframe">
	<div id="line1"></div>
	<div class="gray_15" id="rightcontent">民國100年，經營樓管業10餘年的誼光保全正式進軍家事服務市場，成立了「誼光家事服務」，除了自身的專業，背後更有著新光事業群30餘年的保全經驗，將以四大服務保證，傾力打造國內家事服務新指標：</div>
	<div id="line1"></div>
	<div id="rightcontent"><span class="black_15">一、保證好安心</span> <span class="gray_13"><br>
	  誼光的所有家事員皆是正職員工，絕非一般派遣人員或打工族；清潔全程中央監控、錄影存證，客戶更可由智慧手機或電腦即時查看；每位家服員皆投保150萬誠實險及最高毀損賠償金5萬元的產物險，力求客戶安心無虞。</span> <span class="black_15"><br>
	  <br>
	  二、保證高效率</span> <br>
	  <span class="gray_13">要成為誼光家服員，必須先通過公司的四大領域考核，從清潔常識到現場實作經驗的累積，加上不斷研究、導入新工具，讓家服員個個身手不凡，能在最不占用客戶時間的狀況下帶來最高規格的清潔。</span> <br>
	  <br>
	  <span class="black_15">三、保證超貼心</span> <br>
	  <span class="gray_13">國內首創「按服務計費」，能根據客戶希望的預算、服務內容、時間及服務方式量身規劃最適合客戶的服務計畫。</span> <br>
	  <br>
	  <span class="black_15">四、保證最可靠</span>      <br>
	  <span class="gray_13">一旦契約成立，客服人員會與客戶保持密切聯絡，確實做到約定的清潔項目，不遲到、不早退、不拖延、不另加價，確保客戶每一分錢都不白花！</span></div>
	<div id="rightcontent" align="center"><img src="<%= image_path("aboutimage1.png") %>" width="503" height="152">　　　　  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	</div>
</div><!--rightframe end-->
<div id="menuout">
	<div id="menuimage"><img src="<%= image_path("abouttitle.png") %>" width="274" height="59"></div>
    <div id="menuimage"><img src="<%= image_path("menubgend.png") %>" width="274" height="15"></div>
	<!--menulistbody end-->
	<%= render :partial => "pages/bussiness" %>
</div><!--menuout end-->