
   <div id="rightframe">
    <div id="servicetitle1">常見問題</div>
    
    <div id="line1"></div>
    <div id="servicetitle2">Q：請問貴公司鐘點費多少錢?</div>
    <div id="line1"></div>
    <div class="gray_15" id="servicecontent">A：本公司採免費到府估價的方式跟您報價。<br>
     根據您府上的坪數、住家整潔現況、特殊清潔項目及您的需求服務進行訪談討論。量身訂做一套屬於府上的清潔規劃。本公司販售整體服務價值，有別一般以價格計算。</div>
    <div id="line1"></div>
    <div id="servicetitle2">Q：請您跟我報個價，如果合理，我就預約清潔服務！</div>
    <div id="line1"></div>
    <div id="servicecontent"><span class="gray_15">
      A：請問小姐(先生)您心目中合理的價格是多少<br>
      以公司的立場來說，寧可報高價格以免虧錢，電話中的報價一定比較高。因此，為了讓顧客以真正合理的價格購買我們的服務，本公司堅持現場報價，以維護您的權益。<br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </span></div>
   </div><!--rightframe end-->
   <div id="menuout">
<div id="menuimage"><img src="<%= image_path("servicetitle.png") %>" width="274" height="59"></div>
<%= render :partial => 'menu' %>
<div id="menuimage"><img src="<%= image_path("menubgend.png") %>" width="274" height="15"></div>
<%= render :partial => 'pages/bussiness' %>
</div><!--menuout end-->

