
   <div id="rightframe" align="center">  <img src="<%= image_path("pft-01.png") %>"> <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
   </div>
   <!--rightframe end-->
   <div id="menuout">
    <div id="menuimage"><img src="<%= image_path("preferentialtitle.png") %>" width="274" height="59"></div>
    <div id="menuimage"><img src="<%= image_path("menubgend.png") %>" width="274" height="15"></div>
	<!--menulistbody end-->
    <%= render :partial => "pages/bussiness" %>
   </div><!--menuout end-->
