
   <div id="rightframe" align="center"><img src="<%= image_path("preferentialimgae1.jpg") %>" width="648" height="476">   <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
   </div>
   <!--rightframe end-->
   <div id="menuout">
    <div id="menuimage"><img src="<%= image_path("preferentialtitle.png") %>" width="274" height="59"></div>
	<!--menulistbody end-->
    <%= render :partial => "pages/bussiness" %>
   </div><!--menuout end-->
