   <div id="rightframe">
    
    <div id="righttitle1">人員招募</div>
    <div id="line1"></div>
    <div id="rightcontent"><span class="gray_15">有別於純勞力的零工服務<br>
誼光家事員是真正的專業人士<br>
不但須接受完整的家事訓練，更需動腦為客戶解決問題<br>
<br>
當然，隸屬於新光集團的我們<br>
福利好、薪資高，更有豐富的獎金機會<br>
<br>
如果您願意接受挑戰，把握自我升值機會<br>
歡迎加入新光大家族──誼光家事員的行列</span> <span class="black_15"><br>
</span></div>
    
    <div id="rightcontent">
    請聯絡 cly@ykh.com.tw<br>
或立即撥02-2503-3500，將有專人與您接洽<br><br><br><br><br><br><br></div>
   </div>
   
   
   <!--rightframe end-->
   <div id="menuout">
    <div id="menuimage"><img src="<%= image_path("recruittitle.png") %>" width="274" height="59"></div>
    <div id="menuimage"><img src="<%= image_path("menubgend.png") %>" width="274" height="15"></div>
	<!--menulistbody end-->
    <%= render :partial => "pages/bussiness" %>
   </div><!--menuout end-->
