
   <div id="rightframe">
    <div id="line1"></div>
    <div id="righttitle1">家服員</div>
    <div id="line1"></div>
    <div id="rightcontent"><span class="black_15">【薪資】</span><span class="gray_15">31000元/月起</span> <span class="black_15"><br>
      【福利】</span><span class="gray_13"><br>
      享勞、健保、三節禮金、年終獎金、6%勞退、新約獎金、續約獎金、客戶滿意度獎金、無毀損紀錄獎金、介紹客戶獎金、特休假、績效獎金、定期教育訓練、生涯規劃輔導、證照考試訓練 </span><br>
      <span class="black_15">【將接受基礎教育訓練】<br>
</span><span class="gray_13">1.工具認識與應用
<br>
2.清潔劑認識與應用
<br>
3.居家區間清潔技巧應用
<br>
4.建材認識與清潔保養
<br>
5.安全防護措施宣導</span><br>
    <br>
    </div>
    <div id="line1"></div>
    <div id="righttitle1">區主任</div>
    <div id="line1"></div>
    <div id="rightcontent"><span class="black_15">【薪資】</span><span class="gray_15">35000元/月起</span> <span class="black_15"><br>
      【福利】</span><span class="gray_13">
      同上述外，主管能力訓練養成、教練課程訓練</span><br>
      <br>
      <br>
    </div>
    <div id="line1"></div>
    <div id="righttitle1">機動員</div>
    <div id="line1"></div>
    <div id="rightcontent"><span class="black_15">【薪資】</span><span class="gray_15">35000元/月起</span> <span class="black_15"><br>
      【福利】</span><span class="gray_13">
      同上述</span><br>
      <span class="black_15">【居家清潔特殊項目專業訓練】<br>
</span><span class="gray_13">矽利康挖除重灌、景觀窗清洗、浴室拉門除皂垢、除蟎清潔、沙發清潔保養<br>
<br>
<br>
</span></div>
    <div id="rightcontent"><a href="#"><img src="images/recruitbtn.png" width="205" height="80"></a></div>
   </div><!--rightframe end-->
   <div id="menuout">
    <div id="menuimage"><img src="images/recruittitle.png" width="274" height="59"></div>
	<!--menulistbody end-->
    <%= render :partial => "pages/bussiness" %>
    <div id="menuimage"><img src="<%= image_path("menubgend.png") %>" width="274" height="15"></div>
   </div><!--menuout end-->
