html, body {
	font-family:"sans-serif";
	line-height:1.4em;
	min-width:600px;
}
a {
	text-decoration:none;
	font-family:"sans-serif"
}
.left {
	float:left
}
.right {
	float:right
}
#main {
 *overflow:none;
	overflow:hidden;
	width:100%;
	min-width:1024px;
	color:#444;
}
#main a {
	color:#21759B
}
#main a:hover {
	color:#D54E21
}

.pageContainer {
	margin: 12px;
}

.pageBox {
	margin: 0 2px;
}

.pageBox span {
	padding: 3px 2px;
	background: #CCC;
	color: #222;
	border: 1px #666 solid;
}

.pageBox a {
	padding: 3px 2px;
	background: #999;
	color: #FFF!important;
	border: 1px #333 solid;
}

.pageBox a:hover {
	background: #666;
}