<div id="site-map">
<h1>Listing system_site_maps</h1>

<%= new %>

<<<<<<< HEAD
<%= groups(@home_id).html_safe %>
=======
<%= groups(0).html_safe %>
</div>
>>>>>>> 7ac49edfb553c02683c2195c9663d7177bdc952d
