#container {
	height: 100%;
	width:80%;
	padding:20px 2.5%;
}
h1 {
  font: 300 24px "sans-serif";
  color: #174F69;
  padding: 0 0 20px 0;
}
h1 a {
	font: 300 12px "sans-serif";
	text-shadow:0 1px 0 #f1f1f1;
	background:#eee;
	padding:2px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	bottom:3px;
	left:10px
}
.list {
	border-top: 1px solid #D1E5EE;
	border-left: 1px solid #D1E5EE;
	border-right: 1px solid #D1E5EE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.list table {
	font-family: "sans-serif";
	font-size: 12px;
}
.list .list-title {
	background: #F3FAFF;
	background: -webkit-linear-gradient(top, #f7fcfe 0%, #eff8ff 100%);
	background: -moz-linear-gradient(top, #f7fcfe 0%, #eff8ff 100%);
	text-shadow: -1px -1px 0 white;
	font-size: 14px;
	line-height: 35px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
}
.list .list-content {
	padding-bottom: 20px;
}
.list tr {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #D0DFE9;
	line-height: 35px;
}
 .list tr:nth-child(2n) {
 background: #f7fcfe;
}
.list .list-content td {
	padding-bottom:20px;
}
.list td {
	padding: 0 10px;
}
.list td a {
	font-size: 12px;
	color: #21759B;
}
.list td a:hover {
	color: #D54E21;
}
.list .list-command {
	position: absolute;
	display: none;
	margin-top:-15px;
	font-weight:300
}
.list .list-command .del {
	color:#BC0B0B!important
}
.list td:hover > div {
	display: block;
}
.list .list-content .first {
	font-weight:700
}
.list-right {
	float:right;
	width:61%;
}
