#side {
	background:#D1E5EE;
	height:auto;
	min-height:100%;
	width:150px;
	border-right:1px solid #D1E5EE
}
#side .side-text {
	background:#fff;
	padding:5px 0;
	display:none
}
#side .side-text a {
	font-size:12px;
	display:block;
	padding:1px 0 0 15px;
	height:21px;
}
#side .side-text a:hover {
	background:#EFF8FF;
	color:#333
}
#side .side-text .active {
	font-weight:700
}
#side .side-title {
	background:#EFF8FF;
	cursor:pointer
}
#side .side-title a {
	font-size:13px;
	font-weight:700;
	display:block;
	padding:5px 0 0 25px;
	height:25px;
}
#side .side-title a:hover {
	background:#E0F1FF;
}
#side .side-title .active {
	background:#5C93B3;
	background: -webkit-linear-gradient(top, #619BBB 0%, #5589AA 100%);
	background: -moz-linear-gradient(top, #619BBB 0%, #5589AA 100%);
	color:#fff;
	text-shadow:0 -1px 0px #333
}
#side .side-box {
	border-bottom:1px solid #CAE6FF;
	border-top:1px solid #fff;
}
#side ol {
	border-top:1px solid #BED1DD;
	border-bottom:1px solid #BED1DD;
	margin-bottom:3px
}
#side #side-none {
	background:#EFF8FF;
	height:auto;
	min-height:877px
}
