html, body {
	height:100%;
	font-family:"sans-serif";
	line-height:1.4em;
	min-width:600px;
}
a {
	text-decoration:none;
	font-family:"sans-serif"
}
.left {
	float:left
}
.right {
	float:right
}
#main {
	*overflow:none;
	overflow:hidden;
	width:100%;
	min-width:800px;
	color:#444;
}
#main a {
	color:#21759B
}
#main a:hover {
	color:#D54E21
}
h1 {
	font:300 23px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	text-shadow:0 -1px 0 #dfdfdf;
	color:#174F69;
	padding:0 0 20px 50px
}
