html, body {
	font-family:"sans-serif";
	line-height:1.4em;
	min-width:600px;
}
a {
	text-decoration:none;
	font-family:"sans-serif"
}
.left {
	float:left
}
.right {
	float:right
}
#main {
 *overflow:none;
	overflow:hidden;
	width:100%;
	min-width:1024px;
	color:#444;
}
#main a {
	color:#21759B
}
#main a:hover {
	color:#D54E21
}
