.back,
.edit .view {
  display: none;
}

.show .mod {
  display: block;
  background: #257EA8;
  background: -webkit-linear-gradient(top, #298cba 0%, #227399 100%);
  background: -moz-linear-gradient(top, #298cba 0%, #227399 100%);
  font: 700 13.2px "sans-serif";
  color: #fff!important;
  width: 50px;
  text-align: center;
  padding: 2px 0 1px 0;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #298CBA;
  text-shadow: 0 -1px 0 #195572;
  margin-top:15px;
}

.show .mod:hover,
.edit .view:hover {
  border: 1px solid #13455B;
  color: #eaf2fa !important;
}
